* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    background-color:#0D1179;
    overflow-x: hidden;
}

.absolute-full {
    position:absolute;
    width:100%;
}

.scene {
    margin-top:-8%;
}

.filler {
    width:100%;
    height:3000px;
}